#b2t {
   width: 190px;
    height: 45px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 25px;
    border-radius: 28px;
    padding-top: 10px;
    background-color: #e0e0e0;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.ab{
    height: 20px;
    width: 30px;
    margin-bottom: 5px;

}
.popup::-webkit-scrollbar { 
    display: none; 
}

.may{
        text-align: left;
    padding-left: 30px;
}
.clos{
    text-align: center;
    right: 30px;
}





 .popup{
    bottom: 80px;
    right: 10px;
    height: 450px;
    width: 350px;
    background: #fff;
    position: fixed;
    border-radius: 10px;
    z-index: 9999;
    overflow-y: scroll;
    border: 1px solid #dde5ed;
    margin-bottom: 25px;
    padding: -20px 0px 10px 0px;
    display: none;
    
   
        }
/*Fonts*/
        .cls{
            text-align: left;
            font-family: LibreBaskerville-Regular;
   
            
        }
        
        .cl_img{
    height: 10px;
    width: 10px;
    opacity: 0.5;
    margin-bottom: 2px;
        }

.cl_img1{
    height: 20px;
    width: 25px;
}

.yu{
    transition: all 1s ease-in-out;
    display:block!important;
    
}
        
        .rcmd{
    font-size: 14px;
    color:grey;
    font-weight: 600;
    text-align: center;
}

        .hanw{
width:100%;
 height:100%;
}


.bkg{
    background: #F2F2F2;
    border-radius: 5px;
    margin: 15px 0px;
    width:100%;
    height:92px;
}

.clk{
   width: 72px;
    height: 72px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px 5px;
}
.txte{ 
       font-size: 14px;
    color: #010101;
    font-weight: 500;
    font-family: CircularStd-Book;
    text-align: left!important;
    display: inline-block;
    margin-left: 5px;
    margin: 15px 10px;
}

.str{
    font-family:  CircularStd-Book;
    
}
.pm{
        font-family:  CircularStd-Book;
    font-size: 20px;
    font-weight: 500;
    
}










@font-face {
    font-family: CircularStd-Black;
    src: url('https://nakultanta.github.io/pathmoney/font/CircularStd-Black.woff');
}

@font-face {
    font-family: CircularStd-Book;
    src: url('https://nakultanta.github.io/pathmoney/font/CircularStd-Book.woff');
}

@font-face {
    font-family: CircularStd-Medium;
    src: url('https://nakultanta.github.io/pathmoney/font/CircularStd-Medium.woff');
}

@font-face {
    font-family: LibreBaskerville-Regular;
    src: url('https://nakultanta.github.io/pathmoney/font/LibreBaskerville-Regular.ttf');
}

body {
    background: #fff;
}

.center {
    text-align: center;
}

.pad-none {
    padding: 0px!important;
}

.scroll-top-button {
    height: 35px;
    width: 30px;
}



.nav-height {
    height: 60px;
    border-bottom: 1px solid #D6D6D6;
    background: #fff!important;
}

.logo-main {
    height: 23px;
    width: 45vw;
    max-width: 125px;
    margin-left: 55px;
}

.menu {
    font-family: CircularStd-Book;
    font-size: 16px!important;
    color: #707070;
    margin-left: 120px;
}

.menu a {
    padding-right: 20px!important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #2BC998!important;
}

.menu a:hover {
    color: #2BC998!important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: #2BC998!important;
    font-size: 16px;
}

.round-search {
    border-radius: 20px;
    border: 1px solid #D6D6D6;
    background: #fff;
    width: 115px!important;
    height: 32px;
    color: #2BC998!important;
    font-family: CircularStd-Book!important;
    font-size: 16px!important;
    margin-right: 50px!important;
    margin-left: 25px;
}

.dropdown-menu {
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.34);
    left: -242px;
}

.dropdown-menu .flex-box {
    display: flex;
    padding: 10px 0px 0px 40px;
    width: 610px;
    height: 230px;
}

.box-head {
    color: #606060;
    font-family: CircularStd-Book;
    font-size: 18px;
    margin-bottom: 5px;
}

.box-sub-menu {
    font-family: CircularStd-Book;
    font-size: 16px;
    color: #B4B4B4;
    overflow-y: hidden;
    overflow-x: hidden;
    max-height: 20px;
    margin-top: 20px;
}

.more-item {
    float: right;
    padding: 20px 40px 10px 40px;
    color: #2BC998;
    font-size: 16px;
}

@keyframes mymove {
    from {
        width: 0px;
    }
    to {
        width: 150px;
    }
}

.nav-search-area {
    max-width: 150px;
    width: 0px;
}

.nav-search-toggle {
    animation: mymove 2s;
}

.search-box {
    background: transparent;
    box-shadow: none;
    border: none;
    left: -80px;
    top: 40px;
}

.search-box .form-control {
    border: none;
    box-shadow: none;
    text-align: center;
    border: 1px solid #D6D6D6;
    border-radius: 20px;
}

.search-box .form-control:focus {
    box-shadow: none;
}

.search-box .form-control::placeholder {
    color: #2BC998;
    font-family: CircularStd-Book;
    font-size: 14px;
}

/*Lower Width*/

@media screen and (max-width: 1230px) {
    .menu {
        font-size: 11px!important;
        word-break: break-all;
        letter-spacing: -1.6px;
    }
    .navbar-light .navbar-nav .active > .nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show > .nav-link {
        font-size: 11px!important;
        word-break: break-all;
        letter-spacing: -1.6px;
    }
}

.nav-btn {
    visibility: hidden;
}

/*For Mobile*/

@media screen and (max-width:990px) {
    .nav-btn {
        visibility: visible;
        border: none;
        padding: 10px 20px;
        font-size: 1.5em;
        color: #2bc998;
        background: #fff;
        margin-right: 10px;
    }
    .logo-main {
        margin-left: 18px;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.logo-mob {
    padding-top: 18px;
    margin-left: 18px;
    width: 125px;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
}

.page-language-section {
    position: absolute;
    top: 2%;
    right: 25%;
}

.language-select {
    width: 65px;
    height: 33px;
    margin-top: 4px;
    background: #fff;
    position: relative;
    border-radius: 20px;
    border: 1px solid #fff;
}

.language-select:hover {
    background-color: #fff;
    border: 1px solid #2BC998;
}

.language-select:focus {
    background-color: #fff;
    border: 1px solid #2BC998;
    box-shadow: none;
}

.page-language {
    min-width: 0px!important;
    left: 0px!important;
    top: 1px!important;
    padding: 0px 10px;
    border-radius: 10px;
    box-shadow: none;
    width: 90px;
}

.page-language a {
    font-size: 12px!important;
    font-family: CircularStd-Book;
}

.page-language img {
    width: 27px;
}

.language-select img {
    width: 27px;
    position: fixed;
}

.arrow-dropdown {
    position: absolute;
    right: 8px;
    top: 0px;
}

.arrow-dropdown img {
    position: relative;
    width: 11px;
}

#lang {
    width: 27px;
    height: 17px;
    margin-left: -15px;
    background-image: url(../svg/aus.svg);
    background-size: cover;
    visibility: visible;
}

#lang-sm {
    width: 27px;
    height: 17px;
    margin-left: -15px;
    background-image: url(../svg/aus.svg);
    background-size: cover;
    visibility: visible;
}

.nav-right-area {
    width: 250px;
}

.search-icon {
    padding-top: 5px;
    padding-right: 50px;
}

.page-language-web {
    min-width: 0px!important;
    left: 0px!important;
    box-shadow: none;
    border-radius: 10px;
}

.page-language-web a {
    font-family: CircularStd-Book;
    font-size: 15px;
}

.page-language-web img {
    width: 27px;
}

.page-language-web .dropdown-item {
    padding: .25rem 1.1rem;
}

.overlay a {
    padding: 8px;
    font-family: CircularStd-Medium;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.2s;
}

.overlay a:hover,
.overlay a:focus {
    color: #2bc998;
}

.overlay .closebtn {
    position: absolute;
    top: -13px;
    right: 12px;
    font-size: 45px;
}

/*---------------Index page-----------*/

#mainpage .row {
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 1400px;
}

.wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.jumbltron {
    height: 302px;
    width: 100%;
    text-align: center;
    background-position-x: -55px;
    background-size: 240%;
}

.home-jumbltron-img {
    background-image: url("../images/imgpsh.png");
    background-size: cover;
    background-position: center;
}

.jumbltron-head {
    font-size: 40px;
    font-family: CircularStd-Medium;
    padding-top: 67px;
    padding-bottom: 10px;
}

.jumbltron-text {
    font-family: CircularStd-Book;
    font-size: 20px;
    padding-top: 10px;
}

.jumbltron button {
    margin-top: 40px;
    margin-bottom: 69px;
}

.column-card {
    background-color: #F5F5F5;
    padding: 31px 10% 36px 10%;
    border-bottom: 1.5px solid #D8D8D8;
}

.card {
    width: 24vw;
    height: 140px;
    background-color: #fff;
    border: 1px solid #D6D6D6;
    margin: 10px;
    border-radius: 15px;
    text-align: center;
}

.card a {
    text-decoration: none;
}

.card:hover {
    -webkit-box-shadow: 0px 0px 0.5px 0.5px rgba(96, 96, 96, 0.39);
    -moz-box-shadow: 0px 0px 0.5px 0.5px rgba(96, 96, 96, 0.39);
    box-shadow: 0px 0px 0.5px 0.5px rgba(96, 96, 96, 0.39);
}

.card-img {
    height: 46px;
    width: 100%;
    text-align: center;
    margin: 40px 0 0px 0;
}

.card-text {
    color: #0D0C0C;
    font-size: 22px;
    font-family: CircularStd-Medium;
}

.column-tool {
    background: #F5F5F5;
    padding: 40px 10% 40px 10%;
}

.tool-left {
    width: 35vw;
    height: 380px;
    margin-top: 130px;
}

.tool-left img {
    height: 200px!important;
    width: 35vw!important;
}

.tool-left-head {
    font-size: 30px;
    background: #FFF;
    height: 130px;
    padding: 20px;
    font-family: CircularStd-Medium;
    text-align: left;
}

.tool-right {
    padding-bottom: 30px;
    width: 32vw;
    background-color: #fff;
    margin-left: 10vw;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tool-right-header {
    height: 162px;
    background: #2BC998;
}

.head-emoji {
    height: 26px;
    width: 26px;
    padding-top: 26px;
    padding-bottom: 26px;
    margin-left: 26px;
}

.tool-right-head {
    font-size: 28px;
    font-family: CircularStd-Book;
    color: #fff;
    text-align: left;
    padding-top: 10px;
    padding-right: 125px;
    margin-left: 26px;
}

.tool-right-list-img {
    padding: 20px;
}

.tool-right-list-text {
    padding: 20px 20px 0px 0px;
}

.tool-right-list-text a,
.tool-right-list-text a:hover {
    font-size: 18px;
    font-family: CircularStd-Book;
    color: #232323;
}

.tool-right .read-more {
    text-align: right;
    display: block;
    width: 90%;
}

.column-round-img {
    padding-left: 12%;
    padding-top: 73px;
    padding-bottom: 52px;
}

.column-round .grid-box {
    padding-top: 85px;
    padding-bottom: 69px;
}

.column-round .head1 {
    font-family: CircularStd-Medium;
    font-size: 18px;
    color: #B4B4B4;
}

.column-round .head2 {
    font-family: CircularStd-Medium;
    font-size: 30px;
    color: #0D0C0C;
}

.column-round .head3 {
    font-family: CircularStd-Medium;
    font-size: 20px;
    padding-bottom: 22px;
    color: #606060;
}

.column-head-30 {
    font-family: CircularStd-Medium;
    font-size: 30px;
    color: #0D0C0C;
    padding-top: 20px;
}

.column-head-text {
    font-family: CircularStd-Book;
    font-size: 22px;
    padding: 30px 150px;
    color: #606060;
}

.slider-background {
    background: #f5f5f5;
}

.loan-advice-list-alignment {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
    padding-bottom: 40px;
}

.loan-advice-list-box {
    max-width: 326px;
    padding: 27px 20px 20px 20px;
}

.loan-advice-list-box:hover {
    -webkit-box-shadow: 1px 1px 4px 1px rgba(214, 214, 214, 1);
    -moz-box-shadow: 1px 1px 4px 1px rgba(214, 214, 214, 1);
    box-shadow: 1px 1px 4px 1px rgba(214, 214, 214, 1);
}

.loan-advice-list-head {
    font-size: 26px;
    border-bottom: 1px solid #d6d6d675;
    text height: 35px;
    text-align: left;
    margin-bottom: 10px;
    font-family: CircularStd-Medium;
    color: #0D0C0C
}

.loan-advice-list-text {
    font-size: 18px;
    line-height: 36px;
    text-align: left;
    font-family: CircularStd-Medium;
}

.read-more a {
    font-family: CircularStd-Book;
    font-size: 18px;
    color: #2BC998;
}

.loan-advice-list-alignment .read-more {
    text-align: right;
    line-height: 46px;
}

.contact {
    background-color: #F5F5F5;
    padding: 5% 10%;
}

.contact-area {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.contact-left {
    background-color: #fff;
    width: 49vw;
    padding-top: 45px;
    margin-left: 0px;
    border: 1px solid #D6D6D6;
    border-radius: 10px;
}

.contact-img {
    width: 56px;
    height: 56px;
}

.contact-head {
    font-size: 30px;
    font-family: CircularStd-Medium;
}

.contact-head-text {
    font-family: CircularStd-Book;
    font-size: 16px;
    padding-top: 18px 188px 0 188px;
}

.contact-form {
    padding-left: 16vw;
    padding-top: 23px;
    padding-bottom: 31px;
}

.form-radius {
    border-radius: 30px 0px 0px 30px;
    max-width: 160px!important;
    padding-left: 20px;
    font-family: CircularStd-Book;
    font-size: 16px;
    color: #6F8691;
}

.btn-form {
    border-radius: 0px 30px 30px 0px;
    max-width: 96px!important;
    font-family: CircularStd-Book;
    font-size: 16px;
    color: #fff;
    transition: background 0.3s, color 0.3s;
    background: #2BC998;
}

.btn-form:hover {
    background: #1cd59b;
    cursor: pointer;
}

.contact-right {
    width: 25vw;
    background: #fff;
    padding: 0px!important;
    margin-left: 4vw;
}

.contact-right-head {
    font-size: 20px;
    font-family: CircularStd-Medium;
    padding: 10px 10px 0px 17px;
}

.contact-right-head-text {
    font-family: CircularStd-Book;
    font-size: 16px;
    color: #6F8691;
    overflow: hidden;
    padding: 10px 5px 0px 17px;
}

.contact-right-readnow a {
    font-family: CircularStd-Book;
    font-size: 16px;
    text-align: right;
    display: block;
    padding: 14px 17px 18px 0px;
}

.img-card-margin {
    margin: 10px 0px;
}

.img-card-head {
    font-family: CircularStd-Medium;
    font-size: 30px;
}

.img-card-head-text {
    font-family: CircularStd-Book;
    font-size: 20px;
    padding-top: 24px;
}

.img-card-area {
    margin-left: 209px;
    margin-right: 209px;
    margin-top: 40px;
    padding-bottom: 30px;
}

.img-card-title {
    font-size: 20px;
    font-family: CircularStd-Medium;
    padding-top: 10px;
    /* margin-left: 5px; margin-right: 5px;*/
    text-align: left;
    color: #232323;
}

.img-card-author {
    font-size: 18px;
    font-family: CircularStd-Book;
    text-align: left;
    padding: 0px;
    width: 150px;
    flex-wrap: wrap;
    color: #232323;
}

.img-card-date {
    font-size: 18px;
    font-family: CircularStd-Book;
    text-align: right;
    padding: 0px;
    flex-wrap: wrap;
    width: 110px;
    color: #6F8691;
}

/*Media screen for Index page*/

@media screen and (max-width:926px) {
    .jumbltron {
        height: 256px;
        width: 100%;
        text-align: center;
    }
    .home-jumbltron-img {
        background-position-y: -5px;
        background-position-x: -50px;
    }
    .jumbltron-head {
        font-size: 22px;
        font-family: CircularStd-Medium;
        padding-top: 40px;
    }
    .jumbltron-text {
        font-family: CircularStd-Book;
        font-size: 16px;
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 0px;
    }
    .jumbltron button {
        margin-top: 24px;
        height: 38px!important;
        width: 110px!important;
        font-size: 16px;
        margin-bottom: 69px;
    }
    .column-card {
        padding: 0px;
    }
    .card {
        width: 45%;
        height: 88px;
        margin: 2%;
    }
    .card-img {
        height: 29px;
        width: 100%;
        text-align: center;
        margin: 17px 0% 0px 0%;
    }
    .card-text {
        font-size: 16px;
    }
    .card-margin {
        margin-left: 5%!important;
        margin-right: 5%!important;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .column-round-img {
        padding: 51px 0px 0px 0px;
        text-align: center;
    }
    .column-round-img img {
        height: 132p;
        width: 132px;
    }
    .column-round .grid-box {
        padding-top: 30px;
        padding-bottom: 36px;
        text-align: center;
    }
    .column-round .head1 {
        font-size: 12px;
    }
    .column-round .head2 {
        font-size: 17px;
    }
    .column-round .head3 {
        font-size: 14px;
        padding-bottom: 22px;
    }
    .column-head-30 {
        font-size: 22px;
        padding-top: 30px;
    }
    .column-head-text {
        font-size: 16px;
        padding: 30px 27px;
    }
    .loan-advice-list-alignment {
        margin-left: 4%;
        margin-right: 27px;
        margin-top: 40px;
    }
    .loan-advice-list-head {
        font-size: 26px;
    }
    .loan-advice-list-text {
        font-size: 18px;
    }
    .loan-advice-list-box {
        padding: 23px 10px 10px 10px;
    }
    .contact-area {
        margin: 0px;
        width: 100%;
    }
    .contact-left {
        width: 80vw;
        padding-top: 20px;
        margin-right: 0px;
    }
    .contact-img {
        width: 42px;
        height: 42px;
    }
    .contact-head {
        font-size: 22px;
    }
    .contact-head-text {
        font-size: 14px;
        padding-top: 18px 20px 0 20px;
    }
    .contact-form {
        padding-left: 13vw;
    }
    .form-group {
        margin: 0px!important;
    }
    .contact-right {
        width: 80vw;
        margin-left: 0px;
        margin-top: 40px;
    }
    .contact-right-head {
        font-size: 18px;
    }
    .contact-right-head-text {
        font-size: 14px;
    }
    .contact-right-readnow a {
        font-size: 15px;
    }
    .form-radius {
        max-width: 32vw!important;
        font-size: 3vw;
    }
    .btn-form {
        max-width: 22vw!important;
        font-size: 3vw;
    }
    .img-card-head {
        font-size: 22px;
    }
    .img-card-head-text {
        font-size: 16px;
        padding-top: 21px;
        padding-left: 58px;
        padding-right: 58px;
    }
    .img-card-area {
        margin-left: 0%;
        margin-right: 0;
        margin-top: 20px;
        padding-bottom: 40px;
    }
    /*.img-card-title{margin-left: 27px; margin-right: 26px;}*/
    .img-card-area .flex-box {
        margin-bottom: 50px;
    }
    .column-tool {
        background: #F5F5F5;
    }
    .tool-left {
        max-width: 85vw;
        margin-top: 9%;
        height: 200px;
    }
    .tool-left img {
        height: 130px!important;
        width: 85vw!important;
    }
    .tool-left-head {
        font-size: 15px;
        padding: 15px;
        height: 80px;
        width: 85vw;
    }
    .tool-right {
        width: 85vw;
        margin-left: 0%;
    }
    .tool-right-header {
        height: 128px;
    }
    .head-emoji {
        height: 19px;
        width: 19px;
        padding-top: 11px;
        padding-bottom: 11px;
        margin-left: 11px;
    }
    .tool-right-head {
        font-size: 18px;
        padding-top: 20px;
        padding-right: 127px;
        margin-left: 11px;
    }
}


.p-10{
  padding:0px 20px;  
}

/*---------Category page----------*/

#category .row {
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 1600px;
}

.credit-jumbltron-img {
    background-image: url(../images/category.png);
    background-repeat: no-repeat;
    min-height: 100%;
    win-width: 1204px;
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
}

.auto-jumbltron-img {
    background-image: url(../images/auto.png);
    background-size: auto;
    background-position-y: -110px;
}

.banking-jumbltron-img {
    background-image: url(../images/banking.png);
    background-size: auto;
    background-position-x: 0px;
}

.personalloan-jumbltron-img {
    background-image: url(../images/personaloan.png);
    background-size: auto;
}

.img-fluid {
    width: 100%;
}

.category-jumbltron-text {
    padding-left: 22%;
    padding-right: 22%;
}

.editor-area {
    background: #F5F5F5;
    width: 100%;
    padding-bottom: 30px;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

.editor-head {
    font-family: CircularStd-Medium;
    font-size: 26px;
    margin-right: 23px;
    border-bottom: 1.5px solid #D6D6D6;
    padding-left: 15px;
    margin-bottom: 15px;
}

.editor-head-date {
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 10px;
    color: #6F8691;
    font-family: CircularStd-Book;
}

.editor-subhead {
    font-size: 22px;
    color: #232323;
    line-height: 25px;
    padding-bottom: 10px;
    font-family: CircularStd-Medium;
}

.editor-subhead-text {
    font-size: 18px;
    line-height: 24px;
    overflow: hidden;
    height: 115px;
    font-family: CircularStd-Book;
    color: #6F8691;
}

.editor-readmore a {
    font-family: CircularStd-Book;
    font-size: 18px;
    display: block;
    text-decoration: none;
    padding-top: 10px;
    color: #6F8691;
    text-align: right;
}

.editor-sub-column {
    padding-top: 40px;
}

.editor-sub-column-head {
    font-family: CircularStd-Medium;
    font-size: 18px;
    overflow: hidden;
    padding-top: 10px!important;
    line-height: 24px;
    height: 60px;
    margin-bottom: 13px;
    color: #232323;
}

.editor-sub-column-author {
    font-family: CircularStd-Book;
    font-size: 16px;
    color: #6F8691;
    padding: 0px;
    line-height: 20px;
    padding-bottom: 40px;
    display: block;
    text-align: right;
}

.top-read-text a {
    font-size: 15px;
    font-family: CircularStd-Book;
    line-height: 24px;
    height: 50px;
    color: #232323!important;
    padding: 0px;
}

.top-read-author {
    font-size: 12px;
    font-family: CircularStd-Book;
    display: block;
    text-decoration: none!important;
    color: #6F8691;
    text-align: right;
}

.top-read-list {
    margin-bottom: 10px;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 1px 0px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 1px 0px rgba(214, 214, 214, 1);
    padding-top: 10px;
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*For Mobile Devices*/

@media screen and (max-width:962px) {
    .category-jumbltron-text {
        padding-left: 10%;
        padding-right: 10%;
    }
    .top-read-author {
        font-size: 12px;
        padding-top: 12px;
    }
    .top-read-text {
        font-size: 14px;
        height: 55px;
    }
    
    .top-read-text a {
    font-size: 11px;
}
    .editor-sub-column-head {
        font-size: 16px;
    }
    .editor-sub-column-author {
        font-size: 14px;
    }
    .editor-head-date {
        padding-left: 0px;
        padding-bottom: 10px;
    }
    .editor-subhead {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }
    .editor-subhead-text {
        padding-left: 0px;
        height: 80px;
    }
    .editor-readmore a {
        padding-top: 0px;
    }
}

/*----------Blog Section------------*/

.stick {
    position: sticky;
    position: -webkit-sticky;
    top: 0.01%;
    z-index: 99;
    transition: 1s cubic-bezier(0.09, 0.82, 0, 0.42);
}

.is-hidden {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -webkit-transition: -webkit-transform .2s, background .3s, color .3s, opacity 0 .3s;
    visibility: hidden;
}

.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform .2s, background .3s, color .3s;
}

.progress-container {
    width: 100%;
    height: 7px;
    background: #ccc;
}

.progress-bar {
    height: 7px;
    background: #2BC998;
    max-width: 100%;
    min-width: 0px;
    width: 0%;
}

.float-rec {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-top: 0px;
}

.float-rec button {
    background: #2bc998;
    color: #fff;
    border-radius: 0 0 50% 50%;
    width: 40px;
    border: none;
    padding: 0 5px 0 0;
    cursor: pointer;
    height: 40px;
    font-size: 30px;
}

.float-rec button:focus {
    outline: none;
}

.float-rec .dropdown-item:active {
    background: #2bc998;
    color: #fff;
}

.float-rec .dropdown-item {
    font-family: CicrularStd-Book;
    font-size: 14px;
    color: #6F8691;
}

@media (max-width:960px) {
    .float-rec .dropdown-item {
        font-family: CicrularStd-Book;
        font-size: 10px;
        color: #6F8691;
    }
}

a:hover {
    color: #1A83D4;
}

.paragraph-text ul {
    color: #B4B4B4;
    padding: 0px 20px;
}

.paragraph-text-list {
    color: #6F8691;
    padding: 0px;
}

.paragraph-text-bold {
    font-weight: 600;
    color: #333;
}

.paragraph-text-subheading {
    font-size: 21px;
    color: #000;
    font-family: CircularStd-Medium;
}

.flex-box {
    display: inline-flex;
}

.section-jumper {
    margin-top: 50px;
}

.blog-head {
    font-family: CircularStd-Medium;
    font-size: 30px;
    color: #000;
    margin-top: 75px;
    margin-bottom: 40px;
}

.blog-author {
    font-family: CircularStd-Book;
    font-size: 20px;
    margin-bottom: 35px;
}

.author {
    color: #2BC998;
}

.img-bottom {
    font-family: CircularStd-Book;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 25px;
    color: #000;
    opacity: 0.5;
    letter-spacing: -0.8px;
}

.img-src {
    color: #2BC998;
}

.grid-box {
    display: grid;
}

.paragraph-text {
    font-family: LibreBaskerville-Regular;
    font-size: 18px;
    margin: 10px 0px;
    line-height: 32px;
    color: #6F8691;
}

.paragraph-head {
    font-family: CircularStd-Medium;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 22px;
    color: #232323;
}

.native-ad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.native-head {
    font-family: CircularStd-Book;
    font-size: 30px;
    color: #232323;
    letter-spacing: 0px;
}

.native-text {
    font-family: CircularStd-Book;
    font-size: 18px;
    padding-bottom: 20px;
}

.native-btn {
    background: #2BC998;
    font-family: CircularStd-Book;
    font-size: 20px;
    border: none;
    color: #fff;
    width: 200px;
    height: 46px;
    transition: background 0.3s, color 0.3s;
    border-radius: 30px;
}

.native-btn:hover {
    background: #1cd59b;
    cursor: pointer;
}

.native-btn a {
    color: #fff;
}

.more-banner {
    padding-bottom: 20px;
    padding-top: 20px;
}

.more-text {
    font-family: CircularStd-Medium;
    color: #232323;
    font-size: 18px;
}

.more-link {
    font-family: CircularStd-Book;
    font-size: 18px;
    padding-left: 10px;
    color: #1A83D4;
    text-decoration: none;
}

.side-content {
    padding-top: 50px;
    padding-right: 2px;
}

.ad-head {
    font-family: CircularStd-Medium;
    font-size: 20px;
    color: #232323;
    padding-left: 10px;
}

.line {
    min-height: 1.5px;
    background: #D6D6D6;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

.ad-text ul {
    color: #B4B4B4;
    padding-left: 20px;
}

.ad-list-text {
    color: #1A83D4;
    font-family: CircularStd-Book;
    font-size: 18px;
}

.footer-author {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: CircularStd-Book;
    font-size: 18px;
    color: #0D0C0C;
}

.author-footer {
    font-family: CircularStd-Book;
    font-size: 18px;
    color: #2BC998;
}

.date {
    color: #232323;
    opacity: 0.69;
    font-family: CircularStd-Book;
    font-size: 20px;
}

.social-footer {
    padding-bottom: 70px;
}

.social-box {
    height: 46px;
    width: 46px;
    margin-right: 20px;
    border-radius: 50%;
}

.social-box img {
    background-color: #2bc998;
    border-radius: 50%;
}

@media screen and (max-width:962px) {
    .blog-head {
        font-size: 22px;
    }
    .blog-author {
        font-size: 12px;
    }
    .blog-img img {
        height: 120%;
    }
    .img-bottom {
        text-align: center;
        width: 100%;
        font-size: 10px;
    }
    .ad-head {
        font-size: 16px;
    }
    .ad-list-text {
        font-size: 14px;
    }
    .paragraph-text {
        font-size: 14px;
        line-height: 28px;
    }
    .more-text {
        font-size: 16px;
    }
    .more-link {
        font-size: 16px;
    }
    .paragraph-head {
        font-size: 16px;
        padding-bottom: 0px;
    }
    .footer-author {
        font-size: 16px;
    }
    .author-footer {
        font-family: CircularStd-Book;
        font-size: 16px;
        color: #2BC998;
    }
    .social-footer {
        padding-bottom: 0px;
    }
    .date {
        font-size: 14px;
    }
    .social-box {
        height: 30px;
        width: 30px;
        margin-right: 20px;
        border-radius: 50%;
    }
    .popular-header {
        font-size: 20px!important;
    }
}

/*Secondary Footer*/

.popular-area {
    margin-bottom: 70px;
}

.popular-header {
    font-family: CircularStd-Medium;
    font-size: 28px;
    color: #0D0C0C;
    padding: 45px 0px;
}

/*CC 2.0 License Iatek LLC 2018Attribution required*/

@media (min-width: 768px) {
    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.popular-ad-box {
    border: 1px solid #D6D6D6;
    height: 180px;
    background-color: #fff;
    border-radius: 10px;
    padding: 39px 32px 34px 26px;
}

.popular-ad-box .grid-box {
    width: 168px;
}

.popular-ad-box-head {
    font-family: CircularStd-Medium;
    font-size: 24px;
    text-align: initial;
}

.popular-ad-box-head a {
    color: #0D0C0C;
}

.popular-ad-box-text {
    font-family: CircularStd-Book;
    font-size: 18px;
    text-align: initial;
}

.carousel-control-prev {
    left: -8%!important;
}

.carousel-control-next {
    right: -8%!important;
}

.img-popular {
    max-width: 100%;
    height: 100%;
}

@media screen and (max-width:900px) {
    .popular-ad-box {
        height: 170px;
        margin: 0px;
        padding: 29px 22px 24px 16px;
    }
    .img-popular {
        height: 80px;
        width: 80px;
        margin-top: 10px;
    }
    .popular-ad-box-head {
        font-size: 20px;
    }
    .popular-ad-box-text {
        font-size: 14px;
    }
}

/*Footer*/

.footer-box .row {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.footer-box {
    height: 451px;
    background-color: #25282B;
    width: 100%;
    margin: 0px!important;
}

.main-logo-footer {
    width: 161px;
    height: 30px;
    margin-top: 49px;
    margin-left: 145px;
}

.go-to-arrow {
    width: 15px;
    margin-right: 5px;
}

.go-to-text {
    display: block;
    text-align: right;
    margin-right: 90px;
    margin-top: 55px;
}

.go-to-text a {
    font-family: CircularStd-Book;
    font-size: 22px;
    color: #2BC998;
    text-decoration: none;
}

.sitemap-left-margin {
    margin-left: 55px;
    margin-top: 20px;
}

.sitemap-text-left-box {
    margin-left: 101px;
}

.sitemap-text-left a {
    margin-top: 10px;
    font-family: CircularStd-Book;
    font-size: 18px;
    line-height: 40px;
    color: #F6F6F6;
    text-decoration: none;
}

.sitemap-right-box {
    margin-top: 24px;
    border-left: 1px solid rgba(13, 12, 12, 0.6);
    min-height: 201px;
}

.sitemap-text-right {
    margin-left: 43px;
    font-family: CircularStd-Book;
    font-size: 16px;
    color: #F6F6F6;
    line-height: 25px;
    margin-right: 112px;
}

.sitemap-right-text-head {
    font-family: CircularStd-Medium;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-left: 43px;
    margin-right: 124px;
}

.sitemap-social-box {
    margin-left: 40px;
}

.footer-bottom {
    margin-top: 85px;
    border-top: 1.5px solid rgba(13, 12, 12, 0.6);
}

.half-term {
    visibility: hidden;
    position: fixed;
}

.full-terms {
    visibility: visible;
    position: relative;
}

.term {
    margin-left: 59px;
}

.footer-bottom-left {
    margin-left: 80px;
    padding-top: 11px;
}

.footer-bottom a {
    font-family: CircularStd-Book;
    font-size: 20px;
    text-decoration: none;
    color: #F6F6F6;
}

.copyr {
    text-align: right;
    margin-right: 106px;
    padding-top: 11px;
}

.sitemap-social-box .social-box img {
    padding: 0px;
    background-color: #2bbf91;
    border-radius: 30px;
}

/* ----------For mobile devices*-------------*/

@media screen and (max-width:600px) {
    .footer-box {
        height: 621px;
    }
    .main-logo-footer {
        width: 155px;
        height: 28px;
        margin-top: 24px;
        margin-left: 18px;
    }
    .go-to-text {
        margin-right: 2px;
        margin-top: 29px;
    }
    .go-to-text a {
        font-size: 16px;
    }
    .go-to-arrow {
        width: 10px;
        margin-right: 5px;
    }
    .sitemap-left-margin {
        margin-left: 0px;
        margin-top: 20px;
    }
    .sitemap-text-left-box {
        margin-left: 40px;
    }
    .sitemap-text-left a {
        font-size: 16px;
        line-height: 40px;
    }
    .sitemap-right-box {
        padding-top: 24px;
        border-top: 1px solid rgba(13, 12, 12, 0.6);
        border-left: 0px;
    }
    .sitemap-text-right {
        margin-left: 20px;
        line-height: 24px;
        margin-right: 20px;
    }
    .sitemap-right-text-head {
        margin-left: 20px;
        margin-right: 20px;
    }
    .sitemap-social-box {
        margin-left: 15px;
    }
    .full-term {
        visibility: hidden;
        position: fixed;
    }
    .half-term {
        visibility: visible;
        position: relative;
    }
    .footer-bottom {
        margin-top: 40px;
        border-top: 1.5px solid rgba(13, 12, 12, 0.6);
    }
    .term {
        margin-left: 18px;
    }
    .footer-bottom-left {
        margin-left: 0px;
        padding-top: 10px;
    }
    .footer-bottom a {
        font-size: 16px;
    }
    .copyr {
        text-align: left;
        margin-right: 0px;
        padding-top: 2px;
    }
}
